{%extends 'base.html'%}
{%block body%}

{%for o in orders%}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4">
                {%if  o.product.image%}
                <img class="card-img-top mb-5 mb-md-0" src="{{o.product.image.url}}" alt="..." / height="300px"></div>
                {%else%}
                <img class="card-img-top mb-5 mb-md-0" src="https://dummyimage.com/600x700/dee2e6/6c757d.jpg" alt="..." / height="300px"></div>

                {%endif%}
            <div class="col-md-4">
                <div class="small mb-1">SKU: BST-498</div>
                <h1 class="display-5 fw-bolder">{{o.product.product_name}}</h1>
                <div class="fs-5 mb-5">
                    <span>Rs: {{o.product.price}}</span> <BR></BR>
                    <span>Expected Date: {{o.expected_deliverydate}}</span><BR></BR>
                    <span>Status: {{o.status}}</span>

                </div>
            </div>
            <div class="col-md-4" >
                <a href="{%url 'order-change' o.id%}" class="btn btn-outline-danger btn-sm">Cancel Order</a>
                <a class="btn btn-outline-info btn-sm" href="{%url 'review-add' o.product.id%}">Add Your Reviews</a>
            </div>
        </div>
    </div>
</section>

{%endfor%}

{%endblock%}

